div {
    width: 200px;
    height: 30px;
    background-color: blue;
}
.classe {
    width: 200px;
    height: 30px;
    background-color: black;
}
#id {
    width: 200px;
    height: 30px;
    background-color: yellow;
}